In [1]:
import json
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

# Counties

In [2]:
df_counties = pd.read_csv('counties.csv')
df_counties

,Sort [1],State,FIPS,County [2],County Seat(s) [3],Population(2010),Land Areakm²,Land Areami²,Water Areakm²,Water Areami²,Total Areakm²,Total Areami²,Latitude,Longitude
0,1,AL,1001,Autauga,Prattville,54571,1539.582,594.436,25.776,9.952,1565.358,604.388,32.536382,-86.644490
1,2,AL,1003,Baldwin,Bay Minette,182265,4117.522,1589.784,1133.190,437.527,5250.712,2027.311,30.659218,-87.746067
2,3,AL,1005,Barbour,Clayton,27457,2291.819,884.876,50.865,19.639,2342.684,904.515,31.870670,-85.405456
3,4,AL,1007,Bibb,Centreville,22915,1612.481,622.582,9.289,3.587,1621.770,626.169,33.015893,-87.127148
4,5,AL,1009,Blount,Oneonta,57322,1669.962,644.776,15.157,5.852,1685.119,650.628,33.977448,-86.567246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3104,3139,WY,56037,Sweetwater,Green River,43806,27004.897,10426.649,166.887,64.436,27171.784,10491.085,41.660339,-108.875676
3105,3140,WY,56039,Teton,Jackson,21294,10347.984,3995.379,572.266,220.953,10920.250,4216.332,44.049321,-110.588102
3106,3141,WY,56041,Uinta,Evanston,21118,5390.450,2081.264,16.342,6.310,5406.791,2087.574,41.284726,-110.558947
3107,3142,WY,56043,Washakie,Worland,8533,5797.815,2238.549,10.762,4.155,5808.577,2242.704,43.878831,-107.669052
3108,3143,WY,56045,Weston,Newcastle,7208,6211.021,2398.089,5.002,1.931,6216.023,2400.020,43.846213,-104.570020

# Drought

In [4]:
# For every FIPS we import the data and concatenate the datasets with some modifications on the index and date
FIPS = df_counties.FIPS.to_list()
dfs_drought = []
for id in FIPS:
    dfs_drought.append(pd.read_json('data/'+str(id)+'_drought.json'))
all_df_drought = pd.concat(dfs_drought)
all_df_drought = all_df_drought.reset_index()
df_drought = all_df_drought.drop(['MapDate', 'ValidEnd', 'StatisticFormatID'], axis=1)
df_drought = df_drought.rename(columns={"ValidStart": "date"}, errors="raise")
df_drought['date'] = pd.to_datetime(df_drought['date'], format='%Y-%m-%d')
df_drought

,index,FIPS,County,State,None,D0,D1,D2,D3,D4,date
0,0,1001,Autauga County,AL,100.00,0.00,0.0,0.0,0.0,0.0,2023-02-28
1,1,1001,Autauga County,AL,100.00,0.00,0.0,0.0,0.0,0.0,2023-02-21
2,2,1001,Autauga County,AL,100.00,0.00,0.0,0.0,0.0,0.0,2023-02-14
3,3,1001,Autauga County,AL,100.00,0.00,0.0,0.0,0.0,0.0,2023-02-07
4,4,1001,Autauga County,AL,100.00,0.00,0.0,0.0,0.0,0.0,2023-01-31
...,...,...,...,...,...,...,...,...,...,...,...
842263,266,56045,Weston County,WY,68.77,31.23,0.0,0.0,0.0,0.0,2018-01-23
842264,267,56045,Weston County,WY,68.77,31.23,0.0,0.0,0.0,0.0,2018-01-16
842265,268,56045,Weston County,WY,68.81,31.19,0.0,0.0,0.0,0.0,2018-01-09
842266,269,56045,Weston County,WY,68.81,31.19,0.0,0.0,0.0,0.0,2018-01-02
842267,270,56045,Weston County,WY,68.81,31.19,0.0,0.0,0.0,0.0,2017-12-26

In [4]:
# We save the dataset
df_drought.to_csv('drought.csv')

# Weather

In [6]:
# For every FIPS we import the data and concatenate the datasets with some modifications on the index and date
FIPS = df_counties.FIPS.to_list()
dfs_weather = []
for id in FIPS:
    df1 = pd.read_json('data/'+str(id)+'_weather.json')
    df1["FIPS"] = id
    df1["date"] = df1.index
    df1 = df1.reset_index()
    dfs_weather.append(df1)
all_df_weather = pd.concat(dfs_weather)
all_df_weather = all_df_weather.reset_index()
all_df_weather['date'] = pd.to_datetime(all_df_weather['date'], format='%Y%m%d')
all_df_weather.head()

,level_0,index,WS10M_MIN,QV2M,T2M_RANGE,WS10M,T2M,WS50M_MIN,T2M_MAX,WS50M,TS,WS50M_RANGE,WS50M_MAX,WS10M_MAX,WS10M_RANGE,PS,T2MDEW,T2M_MIN,T2MWET,PRECTOTCORR,FIPS,date
0,0,20180101,2.91,1.34,-266.08,3.98,-4.56,5.03,-0.02,6.48,-4.41,2.05,7.08,4.75,1.84,102.25,-12.58,-7.09,-8.57,0.0,1001,2018-01-01
1,1,20180102,1.35,1.65,-263.51,2.06,-2.69,2.11,2.94,3.61,-2.39,2.90,5.02,2.73,1.38,102.15,-10.30,-6.70,-6.49,0.0,1001,2018-01-02
2,2,20180103,0.66,2.01,-263.99,2.12,-0.92,1.23,4.86,3.96,-0.84,5.53,6.76,3.42,2.76,101.25,-8.15,-4.31,-4.53,0.0,1001,2018-01-03
3,3,20180104,1.76,1.77,-264.48,2.83,-2.09,3.93,3.62,5.20,-1.98,2.66,6.59,4.33,2.58,101.32,-9.31,-5.06,-5.70,0.0,1001,2018-01-04
4,4,20180105,0.32,1.83,-260.88,1.44,-0.95,0.45,5.61,2.35,-1.88,3.41,3.84,2.02,1.69,101.79,-9.00,-6.66,-4.98,0.0,1001,2018-01-05

In [7]:
# Try to understand where the difference of number of rows comes from
df = all_df_weather[all_df_weather.FIPS == 1001]
df['gap'] = df['date'].sort_values().diff() > pd.to_timedelta('1 day')
df[df.gap]

/var/folders/6f/66wfylh56w70xn5j4ssvqd1c0000gn/T/ipykernel_1162/771408184.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gap'] = df['date'].sort_values().diff() > pd.to_timedelta('1 day')

Empty DataFrame
Columns: [level_0, index, WS10M_MIN, QV2M, T2M_RANGE, WS10M, T2M, WS50M_MIN, T2M_MAX, WS50M, TS, WS50M_RANGE, WS50M_MAX, WS10M_MAX, WS10M_RANGE, PS, T2MDEW, T2M_MIN, T2MWET, PRECTOTCORR, FIPS, date, gap]
Index: []

That means that we have data each day

In [8]:
df_drought.head()

,index,FIPS,County,State,None,D0,D1,D2,D3,D4,date
0,0,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-02-28
1,1,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-02-21
2,2,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-02-14
3,3,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-02-07
4,4,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-01-31

Drought data is only weekly

Before merge we need to average the weather data per week.

First lets make sure we have the same date range in both datasets

In [9]:
print(all_df_weather.date.min())
print(df_drought.date.min())

2018-01-01 00:00:00
2017-12-26 00:00:00

In [10]:
df_drought = df_drought[df_drought['date'] >= pd.to_datetime('1/1/2018')]
df_drought.date.min()

Timestamp('2018-01-02 00:00:00')

In [11]:
all_df_weather = all_df_weather[all_df_weather['date'] >= pd.to_datetime('1/2/2018')]
all_df_weather.date.min()

Timestamp('2018-01-02 00:00:00')

In [12]:
df_weather = all_df_weather.copy()

#calculate sum of values, grouped by week
df_weather = df_weather.groupby(['FIPS',pd.Grouper(key='date', freq="W-TUE")]).mean()
df_weather.reset_index(inplace=True)
df_weather

,FIPS,date,level_0,index,WS10M_MIN,QV2M,T2M_RANGE,WS10M,T2M,WS50M_MIN,T2M_MAX,WS50M,TS,WS50M_RANGE,WS50M_MAX,WS10M_MAX,WS10M_RANGE,PS,T2MDEW,T2M_MIN,T2MWET,PRECTOTCORR
0,1001,2018-01-02,1.0,20180102.0,1.350000,1.650000,-263.510000,2.060000,-2.690000,2.110000,2.940000,3.610000,-2.390000,2.900000,5.020000,2.730000,1.380000,102.150000,-10.300000,-6.700000,-6.490000,0.000000
1,1001,2018-01-09,5.0,20180106.0,1.402857,3.330000,-262.927143,2.358571,1.655714,2.738571,7.697143,4.437143,1.485714,3.661429,6.397143,3.441429,2.038571,101.418571,-3.292857,-2.530000,-0.818571,2.235714
2,1001,2018-01-16,12.0,20180113.0,1.788571,5.214286,-260.624286,2.947143,5.628571,3.531429,12.257143,5.100000,5.278571,2.912857,6.445714,4.000000,2.212857,101.277143,1.682857,-0.265714,3.657143,1.452857
3,1001,2018-01-23,19.0,20180120.0,1.590000,4.392857,-260.297143,2.468571,4.110000,2.655714,11.231429,4.360000,3.412857,3.348571,6.002857,3.421429,1.831429,101.382857,-0.154286,-1.622857,1.977143,3.741429
4,1001,2018-01-30,26.0,20180127.0,1.654286,5.468571,-261.477143,2.510000,7.908571,2.978571,14.350000,4.950000,7.685714,3.902857,6.881429,3.458571,1.800000,101.575714,4.120000,2.681429,6.015714,5.008571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
842534,56045,2023-02-07,1860.0,20230204.0,2.751429,2.840000,-261.194286,4.115714,-4.648571,4.741429,1.864286,6.830000,-5.782857,4.804286,9.541429,5.897143,3.145714,84.995714,-6.261429,-10.092857,-5.458571,0.535714
842535,56045,2023-02-14,1867.0,20230211.0,2.350000,2.737143,-260.538571,4.602857,-3.685714,4.020000,3.010000,6.720000,-4.107143,5.437143,9.455714,7.301429,4.952857,84.757143,-6.630000,-9.600000,-5.158571,0.582857
842536,56045,2023-02-21,1874.0,20230218.0,1.851429,2.407143,-260.067143,4.387143,-5.690000,2.678571,0.757143,6.420000,-6.041429,7.534286,10.214286,7.322857,5.468571,84.451429,-8.708571,-12.322857,-7.200000,3.044286
842537,56045,2023-02-28,1881.0,20230225.0,2.168571,2.067143,-261.791429,4.420000,-10.621429,3.437143,-4.652857,6.690000,-11.112857,6.660000,10.097143,6.850000,4.678571,84.237143,-12.117143,-16.014286,-11.371429,2.084286
842538,56045,2023-03-07,1885.0,20230301.0,0.720000,1.950000,-260.740000,3.680000,-5.690000,0.650000,0.220000,5.450000,-5.860000,9.800000,10.450000,6.740000,6.020000,84.260000,-10.350000,-12.200000,-8.020000,0.010000

In [13]:
# Save the dataset
df_weather.to_csv('weather.csv')

# Merge

In [14]:
# To merge we create a column of date + fips because we want to join on date and county
df_drought['date_fips'] = df_drought['date'].astype('str') + df_drought['FIPS'].astype('str')
all_df_weather['date_fips'] = all_df_weather['date'].astype('str') + all_df_weather['FIPS'].astype('str')
df_drought['date_fips'] = df_drought['date_fips'].astype('str')
all_df_weather['date_fips'] = all_df_weather['date_fips'].astype('str')
df_drought = df_drought.drop(['index'], axis=1)
all_df_weather = all_df_weather.drop(['level_0','index'], axis=1)

# We create a drought score that we will try to predict
df_drought['score'] =\
(df_drought['D0']/100)+\
(df_drought['D1']/100)+\
(df_drought['D2']/100)+\
(df_drought['D3']/100)+\
(df_drought['D4']/100)

/var/folders/6f/66wfylh56w70xn5j4ssvqd1c0000gn/T/ipykernel_1162/3927313266.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drought['date_fips'] = df_drought['date'].astype('str') + df_drought['FIPS'].astype('str')
/var/folders/6f/66wfylh56w70xn5j4ssvqd1c0000gn/T/ipykernel_1162/3927313266.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drought['date_fips'] = df_drought['date_fips'].astype('str')

In [15]:
# check the result
all_df_weather.head()

,WS10M_MIN,QV2M,T2M_RANGE,WS10M,T2M,WS50M_MIN,T2M_MAX,WS50M,TS,WS50M_RANGE,WS50M_MAX,WS10M_MAX,WS10M_RANGE,PS,T2MDEW,T2M_MIN,T2MWET,PRECTOTCORR,FIPS,date,date_fips
1,1.35,1.65,-263.51,2.06,-2.69,2.11,2.94,3.61,-2.39,2.90,5.02,2.73,1.38,102.15,-10.30,-6.70,-6.49,0.0,1001,2018-01-02,2018-01-021001
2,0.66,2.01,-263.99,2.12,-0.92,1.23,4.86,3.96,-0.84,5.53,6.76,3.42,2.76,101.25,-8.15,-4.31,-4.53,0.0,1001,2018-01-03,2018-01-031001
3,1.76,1.77,-264.48,2.83,-2.09,3.93,3.62,5.20,-1.98,2.66,6.59,4.33,2.58,101.32,-9.31,-5.06,-5.70,0.0,1001,2018-01-04,2018-01-041001
4,0.32,1.83,-260.88,1.44,-0.95,0.45,5.61,2.35,-1.88,3.41,3.84,2.02,1.69,101.79,-9.00,-6.66,-4.98,0.0,1001,2018-01-05,2018-01-051001
5,1.34,2.50,-260.70,1.97,0.23,1.66,8.28,4.02,0.05,4.75,6.41,2.78,1.44,102.03,-5.35,-4.17,-2.56,0.0,1001,2018-01-06,2018-01-061001

In [16]:
df_drought.head()

,FIPS,County,State,None,D0,D1,D2,D3,D4,date,date_fips,score
0,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-02-28,2023-02-281001,0.0
1,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-02-21,2023-02-211001,0.0
2,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-02-14,2023-02-141001,0.0
3,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-02-07,2023-02-071001,0.0
4,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-01-31,2023-01-311001,0.0

In [17]:
# We join the datasets, weather and droughts
join_df1 = df_drought.merge(all_df_weather, on='date_fips', how= 'left')
join_df1 = join_df1.drop(['FIPS_y', 'date_y'], axis=1)
join_df1 = join_df1.rename(columns={"date_x": "date", "FIPS_x": "FIPS"}, errors="raise")
join_df1.head()

,FIPS,County,State,None,D0,D1,D2,D3,D4,date,date_fips,score,WS10M_MIN,QV2M,T2M_RANGE,WS10M,T2M,WS50M_MIN,T2M_MAX,WS50M,TS,WS50M_RANGE,WS50M_MAX,WS10M_MAX,WS10M_RANGE,PS,T2MDEW,T2M_MIN,T2MWET,PRECTOTCORR
0,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-02-28,2023-02-281001,0.0,1.52,10.86,-263.62,2.26,20.04,2.34,25.06,4.36,19.29,3.80,6.13,3.11,1.59,100.06,15.14,15.53,17.58,0.24
1,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-02-21,2023-02-211001,0.0,2.08,13.24,-264.40,3.22,20.37,4.54,25.44,6.16,20.31,2.98,7.52,4.25,2.17,100.08,18.33,16.69,19.35,1.91
2,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-02-14,2023-02-141001,0.0,1.45,7.63,-258.16,3.01,12.54,2.60,19.96,5.66,12.46,5.07,7.67,4.70,3.24,100.46,9.51,4.97,11.02,0.21
3,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-02-07,2023-02-071001,0.0,1.44,8.30,-258.89,1.94,12.75,2.36,20.21,4.12,12.80,3.84,6.20,2.27,0.84,101.23,10.80,5.95,11.77,0.44
4,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-01-31,2023-01-311001,0.0,1.30,9.77,-263.98,1.94,14.72,1.99,19.48,3.60,14.70,3.18,5.18,3.10,1.80,100.96,13.60,10.31,14.16,2.40

In [18]:
# We add the county dataset
join_df = join_df1.merge(df_counties, on='FIPS', how= 'left')
join_df = join_df.drop(['State_y'], axis=1)
join_df = join_df.rename(columns={"State_x": "State"}, errors="raise")
join_df

,FIPS,County,State,None,D0,D1,D2,D3,D4,date,date_fips,score,WS10M_MIN,QV2M,T2M_RANGE,WS10M,T2M,WS50M_MIN,T2M_MAX,WS50M,TS,WS50M_RANGE,WS50M_MAX,WS10M_MAX,WS10M_RANGE,PS,T2MDEW,T2M_MIN,T2MWET,PRECTOTCORR,Sort [1],County [2],County Seat(s) [3],Population(2010),Land Areakm²,Land Areami²,Water Areakm²,Water Areami²,Total Areakm²,Total Areami²,Latitude,Longitude
0,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-02-28,2023-02-281001,0.0,1.52,10.86,-263.62,2.26,20.04,2.34,25.06,4.36,19.29,3.80,6.13,3.11,1.59,100.06,15.14,15.53,17.58,0.24,1,Autauga,Prattville,54571,1539.582,594.436,25.776,9.952,1565.358,604.388,32.536382,-86.64449
1,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-02-21,2023-02-211001,0.0,2.08,13.24,-264.40,3.22,20.37,4.54,25.44,6.16,20.31,2.98,7.52,4.25,2.17,100.08,18.33,16.69,19.35,1.91,1,Autauga,Prattville,54571,1539.582,594.436,25.776,9.952,1565.358,604.388,32.536382,-86.64449
2,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-02-14,2023-02-141001,0.0,1.45,7.63,-258.16,3.01,12.54,2.60,19.96,5.66,12.46,5.07,7.67,4.70,3.24,100.46,9.51,4.97,11.02,0.21,1,Autauga,Prattville,54571,1539.582,594.436,25.776,9.952,1565.358,604.388,32.536382,-86.64449
3,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-02-07,2023-02-071001,0.0,1.44,8.30,-258.89,1.94,12.75,2.36,20.21,4.12,12.80,3.84,6.20,2.27,0.84,101.23,10.80,5.95,11.77,0.44,1,Autauga,Prattville,54571,1539.582,594.436,25.776,9.952,1565.358,604.388,32.536382,-86.64449
4,1001,Autauga County,AL,100.0,0.0,0.0,0.0,0.0,0.0,2023-01-31,2023-01-311001,0.0,1.30,9.77,-263.98,1.94,14.72,1.99,19.48,3.60,14.70,3.18,5.18,3.10,1.80,100.96,13.60,10.31,14.16,2.40,1,Autauga,Prattville,54571,1539.582,594.436,25.776,9.952,1565.358,604.388,32.536382,-86.64449

In [21]:
# Save the raw dataset to csv
join_df.to_csv('data_raw.csv',index=False)